<%- include('layout/nav.ejs') %>
<%- include('layout/header.ejs') %>
<h1 class="text-center text-m-start">
    Selamat datang di Website around world.
  </h1>
  <br />
  <h3 class="text-center text-m-start">
    Masa Depan yang Terang Dimulai dengan Satu Kode.
  </h3>
<%- include('layout/footer.ejs') %>